<!-- your html code here -->
<p>Hello, I'm contact.html</p>
<h1><strong>Contact</strong></h1>
<p class="words">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
<!--<form class="form">
<div class="mb-3 row">
<label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Your E-mail</label>
</div>
<div class="message"><input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Email"></div>
<div class="mb-3 row">
<label for="exampleFormControlTextarea1" class="form-label ">Your Message</label></div>
<div class="message"><textarea class="form-control" placeholder="Enter you message here..." "></textarea>
</div>
<div class="col-12"> -->
<form class="form">
<div class="mb-3 row">
<label for="colFormLabelLg" class="col-sm-2">Your Email</label>
<div class="col-sm-10">
<div class="boxes"><input type="password" placeholder="Your Email" class="form-control" id="inputPassword"></div>
</div>
</div>
<div class="mb-3 row">
<label for="exampleFormControlTextarea1" class="col-sm-2">Your Message</label>
<div class="col-sm-10">
<div class="boxes"><textarea class="form-control" id="exampleFormControlTextarea1" height: 100px></textarea></div>

</div>
</div>
<div class="button">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>