<!-- your html code here -->
<div class="first-heading px-5 py-5" require-file="./templates/first_heading.html">
    <div class="container text-flex">
        <div class="row">
          <div class="col-8">
            <h1 class="walter-heading text-nowrap">This First Heading<span style="color: grey"> Will Catch Your Eye</span></h1>
            <p class="walter-body fs-5 pe-7" style="text-align:left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="col-4">
            <img src="https://i.pinimg.com/564x/80/d0/9a/80d09af47d7ed1d22d47e9d7d06a54f0.jpg" class="walter" alt="1.jpg">
          </div>
        </div>
    </div>
</div>
