<!-- your html code here -->
<div class="container">
    <div class="portfolio-section">
        <h3>Portfolio</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, eius.
            Laborum dolore aliquid dolorem accusantium quas dignissimos ipsam non
            fugiat unde doloribus nihil omnis, possimus dicta, reiciendis eveniet
            ducimus quam.
        </p>
    </div>
    <!-- <div class="container-fluid"> -->

    <!-- <div class="d-flex flex-row justify-content-center mb-3"> -->
    <div class="card-group d-flex gap-5">

        <article class="col-3 article card">
            <img src="https://picsum.photos/250/150" class="card-img-top" alt="..." />
            <div class="card-body">
                <h3 class="porth3">Project Name</h3>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta recusandae maiores ut molestias vitae rerum.
                </p>
            </div>
        </article>
        <article class="col-3 article card">
            <img src="https://picsum.photos/250/150?random=1" class="card-img-top" alt="..." />
            <div class="card-body">
                <h3 class="porth3">Project Name</h3>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure tempore expedita aliquid nihil officiis enim?
            </div>
        </article>
        <article class="col-3 article card">
            <img src="https://picsum.photos/250/150?random=2" class="card-img-top" alt="..." />
            <div class="card-body">
                <h3 class="porth3">Project Name</h3>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum delectus doloribus laborum! Eum, quod fugiat?
            </div>
        </article>
    </div>
    <!-- </div> -->

    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
</div>