<!-- your html code here -->
<div class="secheading">
    <div class="img">
        <img src="assets/img/2.jpg" alt="keyboard">
    </div>
    <div class="B-H">
        <h2>The Second Heading <span class="greyH">Is Pretty Cool Too.</span></h2>
        <p class="body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
            layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
            using 'Content here, content here', making it look like readable English.
        </p>
    </div>
</div>